version: "3"

services:
  app:
    build:
      context: ./app
      dockerfile: Dockerfile
    volumes:
      - ./app:/app
    ports:
      - "8080:8080"

  caddy:
    image: caddy:2
    ports:
      - "8081:8081"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
    depends_on:
      - app